@import "/src/scss/variables.scss";

.header {
    position: sticky;
    top: -1px;
    z-index: 10;
    box-shadow: $secondary-box-shadow;
    background-color: $main-background-color;
    height: 97px;
}

.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darkgrey-text-color;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo__text {
    display: block;
    font-size: 40px;
    font-weight: 700;
}

.logo__img {
    width: 100px;
}

.nav {
    display: flex;
}

.list {
    display: flex;
    align-items: start;
}

.item {
    padding-left: 30px;
    cursor: pointer;
}

.item:hover,
.item:focus {
    color: $accent-color;
}

.link {
    color: currentColor;
}

.paragraph {
    text-align: center;
    font-weight: 500;
}