@import "/src/scss/variables.scss";

.header {
    // position: sticky;
    // top: 0;
    // z-index: 10;
    // background-color: #fffffff2;
    box-shadow: $secondary-box-shadow;
    background-color: #ffffff;
}

.header__container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(94, 92, 92, 0.185);
}


.logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo__text {
    display: block;
    font-size: 40px;
    font-weight: 700;
}

.logo__img {
    width: 100px;
}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;
}

.item {
    position: relative;
    cursor: pointer;
    min-height: fit-content;
}

// .item:not(:first-child)::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: -25px;
//     width: 0;
//     height: 100%;
//     border: 0.5px solid rgba(94, 92, 92, 0.185);
//     border-radius: 1px;
// }

// .item:first-child {
//     border-left: none;
// }

.link {
    color: currentColor;
    height: 100%;
    display: flex;
    align-items: center;
}

.paragraph {
    text-align: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    color: $darkgrey-text-color;
    font-family: "Montserrat", sans-serif;
}

.paragraph:hover,
.paragraph:focus {
    color: $accent-color;
}