@import "/src/scss/variables.scss";

.header {
    position: sticky;
    top: 0;
    // box-shadow: $secondary-box-shadow;
    background-color: $main-background-color;
    border: 5px solid $accent-color;
    border-radius: 50px;
}

.header__container {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__wrapper {
    width: 100%;

    @media screen and (max-width: 1199px) {
    width: fit-content;
    }
}
.nav {
    display: flex;
    gap: 40px;
    padding-left: 40px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.logo__text {
    display: block;
    font-size: 40px;
    font-weight: 700;
}

.logo__img {
    width: 75px;
}

.burger__wrapper {
    width: 100px;
    padding: 0 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    cursor: pointer;
    min-height: fit-content;
    width: fit-content;
}


.link {
    color: currentColor;
    height: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
}

.paragraph {
    position: relative;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    // letter-spacing: 0.02em;
    font-style: normal;
    color: $darkgrey-text-color;
    font-family: "Roboto", sans-serif;
    transition: all $anim;
    // text-transform: uppercase;
}

.paragraph::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    transition: all $anim;
    border-color: $accent-color;
   
}

.paragraph:hover,
.paragraph:focus {
    color: $accent-color;

    &::after {
        width: 100%;
        border: 1px solid $accent-color;
    }
}