@import "/src/scss/variables.scss";

.articles {
    background-color: $main-background-color;
    min-height: calc(100vh - 267px - 89px) ;
}

.articles__container {
    position: relative;
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media screen and (min-width: 480px) {
        padding-top: 200px;
    }
    @media screen and (min-width: 768px) {
        padding-top: 250px;
    }

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        flex-wrap: wrap;
     }
}


.articles__title {
    font-size: 24px;
    font-weight: 700;
    color: $darkgrey-text-color;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 30px;
    }

    @media screen and (min-width: 1280px) {
            font-size: 35px;
    }
}



.item {
    flex-basis: 100%;
    
    @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 50px) / 2);
    }
}
