@import "/src/scss/variables.scss";

.articles {
    background-color: $main-background-color;
    min-height: calc(100vh - 267px - 89px) ;
}

.articles__container {
    position: relative;
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media screen and (min-width: 768px) {
        padding-top: 200px;
    }

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 250px;
        }
}

.item {
    flex-basis: 100%;
    
    @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 50px) / 2);
    }
}
