@import "/src/scss/variables.scss";

.article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: $main-text-color;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid $item-border-color;
    border-radius: 15px;
    padding: 15px;
    transition: box-shadow $anim;
    height: 100%;

    &:hover {
        box-shadow: $main-box-shadow;
    }
}

.picture {
    border-radius: 15px;
 
    @media screen and (min-width: 1280px) {
            height: 310px;
        }
}


.title {
    font-size: 20px;
    font-weight: 500;
    color: $accent-color;
    text-align: center;
}

.paragraph {
    font-weight: 500;
    text-align: center;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
}

.collage__wrapper {
    border-radius: 15px;
    height: 310px;
    overflow: hidden;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // align-content: center;
}