@import "/src/scss/variables.scss";

.donates {
    display: none;

    &--active {
        display: block;
        position: fixed;
        top: 89px;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 100px;
        z-index: 100;
        backdrop-filter: blur(5px);
        overflow: auto;
    }
}



.donates__container {
    font-size: 14px;
    color: $darkgrey-text-color;
    background-color: $main-background-color;
    border: 3px solid $accent-color;
    border-radius: 25px;
    padding-top: 45px;
    padding-bottom: 45px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}

.donates__title {
    font-size: 24px;
    font-weight: 500;
    color: $darkgrey-text-color;
    margin-bottom: 15px;
    text-align: center;
    @media screen and (min-width: 768px) {
        font-size: 30px;
    }

    @media screen and (min-width: 1280px) {
            font-size: 35px;
        }
}

.donates__list {
    display: flex;
    flex-direction: column;
    border: 1px solid $item-border-color;
    border-radius: 15px;
    overflow: hidden;
}

.donates__item {
    width: 100%;
    border-bottom: 1px solid $item-border-color;
    cursor: pointer;
    background-color: $main-background-color;
}

.currency__title {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    transition: all $anim;
    display: block;
    padding: 25px 0;
    text-transform: uppercase;
    color: $accent-color;

    @media screen and (min-width: 480px) {
        &::after {
            content: '';
            background: url(images/icons/arrow-right.svg) no-repeat;
            width: 18px;
            height: 32px;
            position: absolute;
            top: calc(50% - 16px);
            left: 25px;
            transform: rotate(90deg);
            transition: transform $anim;
        }
    }

    &:hover {
        color: $secondary-text-color;
        background-color: $item-border-color;
    }

    &--active {
        color: $accent-color;
        background-color: #d8d8d8;

        &::after {
            transform: rotate(270deg);
        }
    }
}

.currency__list {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s linear;
    cursor: auto;
    padding: 0 25px;
    flex-wrap: wrap;

    &--crypto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 25px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s linear;
        cursor: auto;
    }
}
.currency__item {
    margin-bottom: 25px;
}


.active {
    max-height: 2000px;
}

.item__title {
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    margin: 20px 0;

    @media screen and (min-width: 420px) {
        font-size: 20px;
    }
}

.method__list {
    margin-bottom: 50px;
}

.method__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 35px;
}

.method__title {
    margin-bottom: 10px;
    font-size: 16px;
}

.method__link {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    color: $darkgrey-text-color;
    margin-bottom: 15px;

    &:hover {
        color: $accent-color;
    }
}

.method__paragraph {
    font-size: 12px;
    margin-bottom: 20px;

    @media screen and (min-width: 480px) {
        font-size: 16px;
    }

}

.correspondent__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 35px;
}