
//Colors
$main-text-color: #222222;
$secondary-text-color: #ffffff;
$features-thumb_background-color: #cde0e1;
$grey-text-color: #AAAAAA;
$darkgrey-text-color: #212121;
$main-background-color: #ffffff;
$secondary-background-color: #2F303A;
$main-box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
$secondary-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$main-social-link-color: #919191;
$logo-accent-color: #066320;
$accent-color: #409bd3;


//Text
$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$h1-font-size: 48px;
$h2-font-size: 32px;
$h3-font-size: 18px;


//Time-function
$anim: 250ms cubic-bezier(0.6, 0, 0.4, 1);