@import "/src/scss/variables.scss";

.events {
    background-color: $main-background-color;
    min-height: calc(100vh - 267px - 89px) ;
}

.events__container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        flex-wrap: wrap;
        }
}
